*,
body {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ebebeb;
  font-family: "Fira Sans", sans-serif;
}

.main-menu {
  background-color: #fff;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 0px 0px #d4d4d4;

  width: 70px;
  height: 100vh;

  position: fixed;
  top: 47px;
  left: 0;

  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;

  transition: 0.3s ease;
}

.main-menu:hover {
  width: 250px;
  overflow-y: scroll;
}

.main-menu .menu-item {
  padding: 10px;
}
.main-menu .menu-item:hover {
  background-color: #d6d6d6;
  cursor: pointer;
}

.main-menu .menu-item .fa {
  color: gray;
  width: 40px;
  font-size: 25px;
  padding: 10px;
}

.main-menu .menu-item:hover > .fa {
  color: #1d0daa;
}

section.home {
  background-color: #f3f3f3;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  border-radius: 10px;
}

.navbarUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbarLi {
  float: left;
}

.navbarLi a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbarLi a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
}
